/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for genome annotation cache
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines values for build, genome and species
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'CanFam3.1' {
            vep_cache_version     = 104
            vep_genome            = 'CanFam3.1'
            vep_species           = 'canis_lupus_familiaris'
        }
        'GRCh37' {
            vep_cache_version     = 110
            vep_genome            = 'GRCh37'
            vep_species           = 'homo_sapiens'
        }
        'GRCh38' {
            vep_cache_version     = 110
            vep_genome            = 'GRCh38'
            vep_species           = 'homo_sapiens'
        }
        'GRCm38' {
            vep_cache_version     = 102
            vep_genome            = 'GRCm38'
            vep_species           = 'mus_musculus'
        }
        'R64-1-1' {
            vep_cache_version     = 110
            vep_genome            = 'R64-1-1'
            vep_species           = 'saccharomyces_cerevisiae'
        }
        'UMD3.1' {
            vep_cache_version     = 94
            vep_genome            = 'UMD3.1'
            vep_species           = 'bos_taurus'
        }
        'WBcel235' {
            vep_cache_version     = 110
            vep_genome            = 'WBcel235'
            vep_species           = 'caenorhabditis_elegans'
        }
    }
}
